# {{ ansible_managed }}

{% for option, value in postgresql_config_full.items() %}
{{ option }} = {% if value is sameas true %}on
{% elif value is sameas false %}off
{% elif value is string %}'{{ value }}'
{% elif value is number %}{{ value }}
{% endif %}
{% endfor %}
